/* food.css */

/* FoodRecipList.jsx*/
/* Search dropdown */
.recipe-list {
  list-style-type: none;
}

.recipe-list li {
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 20px;
  cursor: pointer;
}

.recipe-list li:hover {
  color: #fff;
  background-color: #cbcbcb;
}

.dropdown {
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown-menu {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* FoodRecipe.jsx*/
/* Cards layout */
.recipeIconText {
  width: 15px;
  margin-right: 8px;

}

.recipeIconText svg{
    color: #86C166;
}

