.footer {
    align-content: center;
    display: flex;
    justify-content: space-around;
    font-size: 150% !important;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}